.icon-dashboard:before {
    content: "\e900";
  }
  .icon-activity-1:before {
    content: "\e901";
  }
  .icon-box:before {
    content: "\e902";
  }
  .icon-calendar:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-cogwheel:before {
    content: "\e905";
  }
  .icon-search:before {
    content: "\e906";
  }
  .icon-dialog:before {
    content: "\e907";
  }
  .icon-notifications-outline:before {
    content: "\e908";
  }
  